.Contenedor_textSecretario {
    text-align: center;
   
  }
  
  .contenedortablaSecretario {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;

  }
  
  table {
    border-collapse: collapse;
    width: 90%;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 0.7rem;
    text-align: center;
  }
  
  th {
    background-color: #bfe4eb;
  }
  
  td {
    background-color: #efefef;
  }
  
.Buttons

{

  
 display: flex;
justify-content: center;
 align-items: center;
 gap: 2rem;
height: 10vh;
}

